$primary-color: #c5b7b7;
$secondary-color: #5285f1;

$day-schedule-height: 50vh;
$day-hour-offset: 30%;

$task-color-0: rgba(60, 158, 175, 0.466);
$task-color-1: rgba(132, 170, 43, 0.603);
$task-color-2: rgba(94, 36, 79, 0.774);
$task-color-3: rgba(136, 35, 40, 0.733);
$task-color-4: rgba(204, 119, 50, 0.685);
$task-color-5: rgba(233, 211, 17, 0.548);
$task-color-6: rgba(204, 50, 50, 0.76);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin media-md {
  @media screen and (min-width: 768px){
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px){
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1600px){
    @content;
  }
}