.dayStructured{
  padding-bottom: 2rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &_hour{
    color: $secondary-color;
  }
}

@for $i from 1 to 24 {
  .dayStructured_hour:nth-child(#{$i}){
    top: ($i * 4vh);
  }
}
