.dayStructured{
  background-color: azure;
  padding:  2rem;
  height: 30vh;
  align-items: center;
  flex-flow: column;
  overflow: scroll;

  &_hour{
    z-index: 0;
    padding: 1rem 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    color: black;
    width: 100%;

    &_text{
      width: 2rem;
    }

    hr {
      width: 90%;
      color: $primary-color;
    }
  }
}

// @for $i from 1 to 24 {
//   .dayStructured_hour:nth-child(#{$i}){
//     top: ($i * 10%);
//   }
// }
