.dayStructured{
  background-color: azure;
  padding:  2rem;
  height: $day-schedule-height;
  align-items: center;
  text-align: center;
  flex-flow: column;
  overflow-y: scroll;
  overflow-x: hidden;

  &_hour{
    z-index: 0;
    position: relative;
    margin: 0;
    
    color: black;
    height: $day-hour-offset;
    width: 100%;

    &_marker{
      display: flex;
      flex-flow: row wrap;

      &_text{
      height: 1rem;
      width: 2rem;
      }

      hr {
        height: 2px;
        width: 90%;
        color: $primary-color;
        margin-bottom: 0;
      }
    }

    &_tasks{
      &_1200{
        display: flex;
        flex-flow: row;
      }
    }

  }
}

.task{
  z-index: 2;
  position: relative;
  width: 90%;
  margin-left: 3.5rem;
  color: black;
  border-radius: 2%;
  
  &_Color{
    &_0{
      background-color: $task-color-0;
    }
    &_1{
      background-color: $task-color-1;
    }
    &_2{
      background-color: $task-color-2;
    }
    &_3{
      background-color: $task-color-3;
    }
    &_4{
      background-color: $task-color-4;
    }
    &_5{
      background-color: $task-color-5;
    }
    &_6{
      background-color: $task-color-6;
    }
  }

  &_Duration{
    &_001{
      height: 0.01 * $day-hour-offset;
    }
    &_025{
      height: 23%;
    }
    &_1{
      height: 90%;
    }
    &_5{
      height: 500%;
    }
  }
}

@function set-timeValue($iterator) {
  @if ($iterator < 10) {
    @return "0#{$iterator}00";
  } @else {
    @return "#{$iterator}00";
  }
}

@for $i from 0 to 24 {
  .dayStructured_hour_tasks_#{set-timeValue($i)}{
    height: 100%;
  }
}
