* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dayStructured {
  background-color: azure;
  padding: 2rem;
  height: 50vh;
  width: 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dayStructured_hour {
  z-index: 0;
  position: relative;
  margin: 0;
  color: black;
  height: 30%;
  width: 100%;
}

.dayStructured_hour_marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.dayStructured_hour_marker_text {
  height: 1rem;
  width: 2rem;
}

.dayStructured_hour_marker hr {
  height: 2px;
  width: 90%;
  color: #c5b7b7;
  margin-bottom: 0;
}

.dayStructured_hour_tasks_1200 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.task {
  z-index: 2;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 90%;
  margin-left: 3.5rem;
  color: black;
  border-radius: 2%;
}

.task_Color_0 {
  background-color: rgba(60, 158, 175, 0.466);
}

.task_Color_1 {
  background-color: rgba(132, 170, 43, 0.603);
}

.task_Color_2 {
  background-color: rgba(94, 36, 79, 0.774);
}

.task_Color_3 {
  background-color: rgba(136, 35, 40, 0.733);
}

.task_Color_4 {
  background-color: rgba(204, 119, 50, 0.685);
}

.task_Color_5 {
  background-color: rgba(233, 211, 17, 0.548);
}

.task_Color_6 {
  background-color: rgba(204, 50, 50, 0.76);
}

.task_Duration_001 {
  height: 0.3%;
}

.task_Duration_025 {
  height: 23%;
}

.task_Duration_1 {
  height: 90%;
}

.task_Duration_5 {
  height: 500%;
}

.dayStructured_hour_tasks_0000 {
  height: 100%;
}

.dayStructured_hour_tasks_0100 {
  height: 100%;
}

.dayStructured_hour_tasks_0200 {
  height: 100%;
}

.dayStructured_hour_tasks_0300 {
  height: 100%;
}

.dayStructured_hour_tasks_0400 {
  height: 100%;
}

.dayStructured_hour_tasks_0500 {
  height: 100%;
}

.dayStructured_hour_tasks_0600 {
  height: 100%;
}

.dayStructured_hour_tasks_0700 {
  height: 100%;
}

.dayStructured_hour_tasks_0800 {
  height: 100%;
}

.dayStructured_hour_tasks_0900 {
  height: 100%;
}

.dayStructured_hour_tasks_1000 {
  height: 100%;
}

.dayStructured_hour_tasks_1100 {
  height: 100%;
}

.dayStructured_hour_tasks_1200 {
  height: 100%;
}

.dayStructured_hour_tasks_1300 {
  height: 100%;
}

.dayStructured_hour_tasks_1400 {
  height: 100%;
}

.dayStructured_hour_tasks_1500 {
  height: 100%;
}

.dayStructured_hour_tasks_1600 {
  height: 100%;
}

.dayStructured_hour_tasks_1700 {
  height: 100%;
}

.dayStructured_hour_tasks_1800 {
  height: 100%;
}

.dayStructured_hour_tasks_1900 {
  height: 100%;
}

.dayStructured_hour_tasks_2000 {
  height: 100%;
}

.dayStructured_hour_tasks_2100 {
  height: 100%;
}

.dayStructured_hour_tasks_2200 {
  height: 100%;
}

.dayStructured_hour_tasks_2300 {
  height: 100%;
}

.calendar {
  color: #5285f1;
  padding-bottom: 2rem;
  margin: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  width: 60%;
}

.calendar_banner {
  color: black;
  margin-bottom: 1rem;
}

.calendar table {
  background-color: white;
  border-radius: 3%;
  border: solid slategray 1px;
  -webkit-box-shadow: 3px 3px 3px black;
          box-shadow: 3px 3px 3px black;
  display: inline-block;
}

.calendar_header {
  color: black;
  border-radius: 20%;
  border: solid black 2px;
}

.calendar_header_weekday {
  width: 14.28571%;
  background-color: none;
}

.calendar_day {
  height: 16.66667%;
  padding: 0.5rem;
  margin: 0;
  text-align: center;
}

.calendar_day:hover {
  color: white;
  background-color: #5285f1;
  cursor: pointer;
  border-radius: 100%;
  -webkit-box-shadow: 2px 2px 1px black;
          box-shadow: 2px 2px 1px black;
}

.today {
  color: coral;
  border: 1px solid coral;
  border-radius: 100%;
}

.notifier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

.notifier h3 {
  margin-right: 2rem;
}

.notifier button {
  height: 2rem;
}

@media screen and (min-width: 768px) {
  .calendar {
    width: 80%;
  }
  .dayStructured {
    width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .calendar {
    width: 70%;
  }
  .dayStructured {
    width: 80%;
  }
}

body {
  background: #c5b7b7;
  color: set-text-color(#c5b7b7);
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.text-secondary {
  color: #5285f1;
}
/*# sourceMappingURL=main.css.map */