@import 'config';
@import 'dayStructured';
@import 'calendar';
@import 'notifier';

body {
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  align-items: center;
}

.text-secondary {
  color: $secondary-color;
}